@typeparam TableItem
@inherits TableHeaderToolsBase<TableItem>

@* @if (Table.OnRefresh != null)
{
    <span class="cursor-pointer hover-icon" title="Refresh">
        <Icon IconType="@MDIcons.Refresh" OnClick="Table.RefreshItems"></Icon>
    </span>
} *@